.items-wrapper {
  background: var(--card-color);
color: var(--text-color);

  min-height: 100vh;
}

.items-grid {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
}

.no-items {
  color: white;
  font-size: 18px;
}

/* Card */
.item-card {
  background: #111827;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.item-card:hover {
  transform: translateY(-8px);
  border-color: #2563eb;
  box-shadow: 0 15px 30px rgba(37, 99, 235, 0.3);
}

/* Image */
.image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease;
}

.item-card:hover img {
  transform: scale(1.1);
}

/* Info */
.item-info {
  padding: 18px;
  color: white;
}

.item-info h3 {
  margin-bottom: 8px;
}

.item-info p {
  color: #9ca3af;
  margin-bottom: 12px;
}

.item-info button {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.item-info button:hover {
  background: #1d4ed8;
}
